In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import bs4
import requests

In [62]:
club_data = []
for x in range(1, 33):
    url = 'http://competitie.vttl.be/index.php?menu=1&cur_page='+str(x)
    r  = requests.get(url)
    soup = BeautifulSoup(r.text, "lxml")
    table = soup.find('table', attrs={'class':'DBTable'})
    rows = table.find_all('tr')[2:-2]
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        club_data.append([ele for ele in cols if ele])

In [63]:
club_df = pd.DataFrame(club_data)
club_df.columns = ['index', 'club', 'categorie', 'atl lokalen', 'site']
club_df.set_index('index', inplace=True)
club_df.index.name = None

In [65]:
club_df.head()

                                club             categorie atl lokalen  site
000               Indiv. KBTTB/FRBTT                 FRBTT           0     -
VTTL                      Buitenland                  VTTL           0     -
VTTL                     Individueel                  VTTL           0  None
AF001    Individuel Aile Francophone                    AF           0  None
Vl-B000   Individueel Vlaams-Brabant  Vlaams-Brabant & Br.           1  None
Vl-B005      K.T.T.K Pingouin Leuven  Vlaams-Brabant & Br.           1  None
Vl-B161              T.T.C. Den Hoek  Vlaams-Brabant & Br.           1     -
Vl-B182        T.T. Groot-Bijgaarden  Vlaams-Brabant & Br.           2  None
Vl-B213               T.T.C. Humbeek  Vlaams-Brabant & Br.           1  None
Vl-B218                  T.T.K Vilvo  Vlaams-Brabant & Br.           1  None
Vl-B225             Hurricane T.T.W.  Vlaams-Brabant & Br.           1  None
Vl-B234       T.T.C. Meerdaal Leuven  Vlaams-Brabant & Br.           1  None
Vl-B247               TTC Galmaarden  Vlaams-Brabant & Br.           1  None
Vl-B248             P.P.K. Essenbeek  Vlaams-Brabant & Br.           1  None
Vl-B252                T.T.C Lembeek  Vlaams-Brabant & Br.           1  None
Vl-B256               Smash Overijse  Vlaams-Brabant & Br.           1  None
Vl-B283            TTC Smash Dolfijn  Vlaams-Brabant & Br.           2  None
Vl-B293                   P.W. Diest  Vlaams-Brabant & Br.           1  None
Vl-B295              T.T.C. Werchter  Vlaams-Brabant & Br.           1  None
Vl-B318                          VMS  Vlaams-Brabant & Br.           2  None

In [38]:
elo_data = []
for x in range(1, 191):
    url = 'http://competitie.vttl.be/index.php?menu=5&perelo=1&club_id=0&cur_page='+str(x)
    r  = requests.get(url)
    soup = BeautifulSoup(r.text, "lxml")
    table = soup.find('table', attrs={'class':'DBTable'})
    rows = table.find_all('tr')[2:-2]
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        elo_data.append([ele for ele in cols if ele])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190

In [42]:
elo_df = pd.DataFrame(elo_data)
elo_df.columns = ['plaats', 'naam', 'klassement', 'club', 'punten']

In [43]:
elo_df.tail()

      plaats                      naam klassement              club punten
18983  18923              BOUTEN ALANA         NG         Zonnebeke      0
18984  18923  VANWINNENDAELE CHRISTINE         NG       Ctt Bosquet      0
18985  18923               JAEKEN STAF         NG        Voorshoven      0
18986  18923             CULOT ANAELLE         NG  Palette Rancoise      0
18987  18923               DONNAY DANY         NG               Ans      0